.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    background-color: #703B09;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 99;
}

.Toolbar nav {
    height: 100%;

}